body {
    background-image: url("../img/Pool_and_Ocean.jpeg");
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: 75%;
}

h1 {
  color: cornflowerblue;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img {
  border-radius: 50%;
}
div {
  display: flex;
  justify-content: center;
}

img {
  width: 15%;
}
